/* External Resourses */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
/* font-family: 'Space Mono', monospace; */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');
/* font-family: 'Inconsolata', monospace; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* font-family: 'Montserrat', sans-serif; */



/* Root & Variables */
:root {
  font-size: 10px;  /* making my font size 10px would make it easier to code  */
  --ff-primary: 'Space Mono', monospace;;
  --ff-header: 'Inconsolata', monospace;
  --ff-footer: 'Montserrat', sans-serif;
  --fs-p: clamp(2.4rem, 5vw, 3rem);
  --fs-h1: clamp(4.8rem, 5vw, 6.4rem);
  --fs-button: 1.4rem;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700; 
  --white: white;
  --gray-1: #333333;
  --gray-2: #4f4f4f;
  --gray-3: #bdbdbd;
  --padding-default: clamp(5px, 25px, 75px);
  --margin-default: 30px;
  --margin-2x: calc(var(--margin-default) * 2);
}


h1 {
  font-family: var(--ff-primary);
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  color: var(--gray-1);
}

p {
  font-family: var(--ff-primary);
  font-size: var(--fs-p);
  font-weight: var(--fw-normal);
  color: var(--gray-2);
}

body {
  font-family: var(--ff-primary);
  padding: var(--padding-default);
}

header {
  font-size: var(--fs-p);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  font-family: var(--ff-header);
  color: var(--gray-1);
}

main {
  margin: 0 auto;
  width: min( 100%, 1440px);
}

.imageWrapper {
  margin-top: var(--margin-2x);
}

.textWrapper h1 {
  margin-top: var(--margin-2x);
}

.textWrapper p {
  margin-top: var(--margin-default);
}

.button {
  display: inline-block;
  padding: 20px 40px;
  background-color: var(--gray-1);
  color: var(--white);
  font-size: var(--fs-button);
  text-decoration: none;
  text-transform: uppercase;
  margin-top: var(--margin-2x);
}

footer {
  text-align: center;
  font-size: var(--fs-button);
  margin-top: var(--margin-2x);
  font-family: var(--ff-footer);
  color: var(--gray-3);
  font-weight: var(--fw-medium);
}

footer .attribution {
  color: var(--gray-2);
}


@media only screen and (min-width: 960px) {
  main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 90vh;
  }

  main > * {
    max-width: 40%;
  }
}